<!-- <br>
<br>
<div style="max-width: 700px;">
    <form ng-submit="deleteProject(project.title)">
        <h5 class="text-">To delete this project of <span class="inline-code-block-danger">{{project.title}}</span><br>type in this project's full name.</h5>

        <input class="setting-input" ng-model="deleteProjectInput" placeholder="{{project.title}}"/>
        <br>
        <br>
        <h4 ng-if="sameToTheProjectName(project.title)" ng-class="dangerNotified? 'active' : '' ">
            <span ng-class="dangerNotified? 'active' : '' " class="custom-checkbox-danger-lg" ng-click="dangerNotifty()"><i ng-class="dangerNotified? '' : '' " class="animated fa fa-check"></i></span>
            &nbsp;
            <small class="text-danger danger-notify">I know there is no going back once I delete it.</small>
        </h4>
        <br ng-if="sameToTheProjectName(project.title)">
        <button ng-disabled="!okayToDelete(project.title)" type="submit" class="btn btn-danger hidden-xs-down btn-lg pull-xs-left text-uppercase">I am sure to Detele this project</button>
    </form>
</div> -->
