<div class="auth-page">
    <div class="auth-container">
        <a href="#"><img class="logo" src="/assets/images/logo-color.svg"></a>
        <form class="authForm" ng-submit='auth_enter(auth)'>
            <div class="form-item">
                <input required type="email" ng-model="auth.email" placeholder="Email address">
            </div>
            <div class="form-item">
                <input required ng-init="lock=false" ng-focus="lock=true" type="password" ng-model="auth.password" placeholder="Password" class="password" ng-minlength='6'>
                <span ng-if="!(auth.password.length > 6)" class="lock"><i class="fa fa-unlock-alt"></i></span>
                <span ng-if="auth.password.length > 6" class="lock"><i class="fa fa-lock"></i></span>
            </div>
            <!-- <div class="form-item">
                <input required ng-init="lock=false" ng-focus="lock=true" type="password" ng-model="auth.confirmpassword" placeholder="Password" class="password" ng-minlength='6'>
                <span ng-if="!(auth.password.length > 6)" class="lock"><i class="fa fa-unlock-alt"></i></span>
                <span ng-if="auth.password.length > 6" class="lock"><i class="fa fa-lock"></i></span>
            </div> -->
            <div class="form-item">
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </div>
        </form>
    </div>
</div>
