<div class="home-page">
    <nav class="top">
        <svg class="logo" viewBox="582 404 71 71" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path class="itself" d="M617,474 C636.329966,474 652,458.329966 652,439 C652,419.670034 636.329966,404 617,404 C597.670034,404 582,419.670034 582,439 C582,458.329966 597.670034,474 617,474 Z M617,463.5 C630.530976,463.5 641.5,452.530976 641.5,439 C641.5,425.469024 630.530976,414.5 617,414.5 C603.469024,414.5 592.5,425.469024 592.5,439 C592.5,452.530976 603.469024,463.5 617,463.5 Z"
                id="Combined-Shape" stroke="none" fill="#04AADC" fill-rule="evenodd"></path>
        </svg>
    </nav>
    <div class="main-hero">
        <img src="/assets/images/logo-text-white.svg" width="180px">
        <h1 class="title">Paying in installments is universal rights.</h1>
        <div ng-if="!currentUser" class="signUp" ui-sref="authEntrance">Declare my right!</div>
        <div ng-if="currentUser" class="signUp" ui-sref="dashboard">Go to my dashboard!</div>
    </div>
    <div class="intro-hero">
        <img src="/assets/images/logo-text-color.svg" style="fill: #333" width="150px">
        <h1>Reinvent installments.</h1>
        <div class="paragraph">
            <p>
                We strongly beleive no mater who you are, small bussiness, customer individuals, should have the right to enjoy payment in installments easily.
                <br>By simplifying the process, we help more and more sellers and buyers to have happy bussinesses.
        </div>
    </div>
    <div class="intro-section">
        <div class="container">
            <div class="row">
                <h1 class="title">How it works.</h1>
                <h2 class="intro">From 1 installment up to 12 installments, set up in <b>3 minutes</b> and no worry for months.</h2>
            </div>
            <div class="row">
                <img class="hidden-sm-down" src="/assets/images/howitwork.svg" style='width:90%;'>
                <img class="hidden-md-up" src="/assets/images/howitwork-v.svg" style='width:90%;'>
            </div>
        </div>
    </div>
    <div class="intro-section">
        <div class="container">
            <div class="row">
                <h1 class="title">We simplify process. You benefits your customers</h1>
                <h2 class="intro">
                    <img src="/assets/images/logo-text-color.svg" style="height: 12px; margin-top: -3px"> makes installments no pain for you and your customers. <br>Set up a installment with mobile app, and track everthing through the dashboard. Transaction itself will complete automatically. Yes, it's that easy!
                </h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="white-card">
                        <div class="image" style="background-image: url('/assets/images/specie-in-person.jpg')"></div>
                        <div class="information">
                            <h5>In-person</h5>
                            <h6>Easy to set up a installment when you meeting with customers.</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="white-card">
                        <div class="image" style="background-image: url('/assets/images/specie-online.jpg')"></div>
                        <div class="information">
                            <h5>Online</h5>
                            <h6>You can also set up a installment online, and it's fast and safe.</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="white-card">
                        <div class="image" style="background-image: url('/assets/images/specie-at-frontdesk.jpg')"></div>
                        <div class="information">
                            <h5>At frontdesk</h5>
                            <h6>Every installment has its own qrcode that you can use everywhere.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-section">
        <div class="container">
            <div class="row">
                <h1 class="title">Our promise</h1>
            </div>
            <div class="row">
                <div class="col-sm-3 specie-item">
                    <img src="/assets/images/specie-fast.svg" alt="" />
                    <h2>FLEXIBLE</h2>
                    <h4></h4>
                </div>
                <div class="col-sm-3 specie-item">
                    <img src="/assets/images/specie-trans.svg" alt="" />
                    <h2 style="margin-top: 15px;">Transparant</h2>
                    <h4></h4>
                </div>
                <div class="col-sm-3 specie-item">
                    <img src="/assets/images/specie-lowfee.svg" alt="" />
                    <h2>Low Fee</h2>
                    <h4></h4>
                </div>
                <div class="col-sm-3 specie-item">
                    <img src="/assets/images/specie-secure.svg" alt="" />
                    <h2>Secured</h2>
                    <h4></h4>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="intro-section">
        <div class="grid">
            <div class="column">
                <h2>iOS App</h2>
                <img src="/assets/images/iosrqcode.png" width="120px;" />
            </div>
            <div class="column">
                <h2>Android App</h2>
                <img src="/assets/images/iosrqcode.png" width="120px;">
            </div>
            <div class="column">
                <h2>Android App</h2>
                <img src="/assets/images/iosrqcode.png" width="120px;">
            </div>
        </div>
    </div> -->
    <div class="afterall-hero">
        <img src="/assets/images/logo-text-color.svg" width="150px">
        <br>
        <br>
        <div ng-if="!currentUser" class="signUp" ui-sref="authEntrance">Join for free!</div>
        <div ng-if="currentUser" class="signUp" ui-sref="dashboard">Go to my dashboard</div>
        <!-- <div class="row">
            <div class="col-sm-6">
                <h2>iOS App</h2>
                <img src="/assets/images/iosrqcode.png" width="120px;" />
            </div>
            <div class="col-sm-6">
                <h2>Android App</h2>
                <img src="/assets/images/iosrqcode.png" width="120px;">
            </div>
        </div> -->
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h2>Company</h2>
                    <h4>About us</h4>
                    <h4>Press</h4>
                </div>
                <div class="col-sm-4">
                    <h2>Custmor</h2>
                    <h4>Service agreement</h4>
                    <h4>Privacy Ploicy</h4>
                    <h4>FAQs</h4>
                </div>
                <div class="col-sm-4">
                    <h2>Contact</h2>
                    <h4>subcribe</h4>
                    <h4><a href="https://www.facebook.com/installmentsdotcom" target="_blank">Facebook</a></h4>
                    <h4><a href="http://www.twitter.com/InstallmentsInc" target="_blank">Twitter</a></h4>
                </div>
            </div>
        </div>
        <div class="copyright">Copyright © 2016 AmazingAndyyy. All rights reserved. Seperpay logo and name are trademarks of Seperpay Inc.</div>
    </footer>
</div>
