<h3>Followers</h3>
<div class="row">
    <!-- <div ng-repeat="project in projects">
        <div class="col-md-6 col-lg-4 col-xl-3 col-less-padding">
            <div class="card card-block project-card">
                <i ng-if="state.isTheUser" ui-sref="projectSetting({projectId: project._id})" class="fa fa-cog text-primary projectSettingBtn tool-tip" data-placement="left" title="project setting" tool-tip></i>
                <h4 class="card-title">{{project.title}}</h4>
                <p class="card-text"><span ng-if="project.pitch">{{project.pitch}}</span> <span ng-if="!project.pitch || project.pitch.length < 1">One sentence about this project.</span></p>
                <p class="card-text"><small class="text-muted">{{createTime(project.createAt)}}</small></p>
                    <div class="text-justify">
                        <a href="{{project.displayUrl}}" class="card-link">
                            <i class="fa fa-link"></i>&nbsp;Link
                        </a>
                        <a ui-sref="projectDetails({projectId: project._id})" class="card-link">
                            Details&nbsp;<i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
            </div>
        </div>
    </div> -->
</div>
