@import "myvariables";
@import "override";
body {
    font-family: 'Lato', 'helvetica neue',helvetica,arial,sans-serif !important;
    hr.small {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .btn-primary {
        margin: auto;
        background: #04AADC;
        border: 0;
        padding: 15px 60px;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        overflow: hidden;
        display: inline-block;
        cursor: pointer;
        position: relative;
    }
    .btn-primary:hover {
        background: lighten(#04AADC, 10%);
    }
    .btn-primary:active {
        background: lighten(#00538D, 10%);
    }
    .btn-primary {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
        margin-top: 50px;
        border: none;
        border-radius: 0;
        background: red;
        width: 100%;
        background: #04AADC;
        color: white;
        height: 55px;
        outline: none;
        transition: .1s background ease-in-out;
        cursor: pointer;
    }
    button.btn-primary:hover {
        background: $brand-secondary;
    }
    button.btn-primary:active {
        background: darken(#65CFF1, 10%);
    }
}
