@import "myvariables";
@import "override";
body {
    font-family: 'Lato', 'helvetica neue',helvetica,arial,sans-serif !important;
    .font-handw {
        font-family: $font-handwrite-c;
    }
    .font-serif {
        font-family: $font-serif-c;
    }
    .font-avenir {
        font-family: $font-avenir;
    }
    .font-lato {
        font-family: $font-lato;
    }
    .btn-single {
        padding: 0.25rem 0.55rem;
        margin-right: 4px;
        margin-left: 4px;
    }
    .hover-mover-right {
        position: relative;
        transition: 0.3s all ease-in-out;
        i {
            position: absolute;
            top: 30%;
            right: 23%;
            opacity: 0;
            transition: 0.2s all ease-in-out;
        }
    }
    .hover-mover-right.active,
    .hover-mover-right:hover {
        transition: 0.3s all ease-in-out;
        padding-right: 45px;
        i {
            position: absolute;
            top: 30%;
            right: 17%;
            opacity: 1;
            transition: 0.3s all ease-in-out;
        }
    }
    .hover-mover-right.fixed.active,
    .hover-mover-right.fixed:hover {
        padding-right: 1.25rem;
    }
    .inline-code-block {
        font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
        letter-spacing: -0.5px;
        background: rgba( $brand-primary, .2 );
        text-shadow: 0 1px 0 0 $brand-deepg;
        border-color: darken( $brand-primary, 5% );
        color: darken( $brand-primary, 5% );
        display: inline-block;
        font-size: 0.8em;
        border: 1px solid;
        padding: 0 4px;
        margin: 0 1px;
        border-radius: 2px;

        i {
            margin-left: 1.4px;
            margin-right: 1.4px;
        }
    }
    .inline-code-block-danger {
        font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
        letter-spacing: -0.5px;
        background: rgba( $brand-danger, .2 );
        text-shadow: 0 1px 0 0 $brand-deepg;
        border-color: darken( $brand-danger, 5% );
        color: darken( $brand-danger, 5% );
        display: inline-block;
        font-size: 0.8em;
        border: 1px solid;
        // padding: 0 4px;
        margin: 0 1px;
        border-radius: 2px;

        i {
            margin-left: 1.4px;
            margin-right: 1.4px;
        }
    }
    .form-control:focus {
        border-color: $brand-primary;
    }
    .btn-highlight {
        background: $light-blue-color;
    }
    .no-radius {
        border-radius: 0px !important;
    }
    .unselectable {
        cursor: default;
        user-select: none;
    }
    .selectable {
        cursor: text;
        user-select: text;
    }
    .btn-secondary-outline:hover {
        color: $brand-primary;
    }
    .nice-br {
        margin-top: 8px;
    }
    .col-less-padding {
        padding: 5px !important;
    }
}
