<div class="plan_section" ng-init="plan.type = 'single' ">
    <h2 class="title">Totaly price</h2>
    <input type="text" class="totalPrice" ng-model="plan.total" placeholder="1299.00">
</div>
<div class="plan_section">
    <h2 class="title">Downpay</h2>
    <input type="text" class="totalPrice" ng-model="plan.downpay" placeholder="300.00">
</div>
<div class="plan_section animated flipInY" ng-if="plan.total>1">
    <h2 class="title">How many installments?</h2>
    <div class="form-item">
        <input class="range" type="range" min="1" max="12" ng-init="plan.times = 3" ng-model="plan.times" ng-change="updateTimes(plan.times)">
        <br>
        <br> <b style="font-size: 200%">{{(plan.total-plan.downpay)/plan.times | currency}} /mo.</b> for <b>{{plan.times}} months</b>
        <br>
    </div>
    <br>
    <div ng-init="updateTimes(plan.times)" class="installmentsGraphContainer">
        <div class="graph-item" ng-repeat="installment in installmentsGraphData" ng-style="installment.style"></div>
        <!-- <div class="graph-item" ng-repeat="installment in installmentsGraphData" ng-style="installment.style"><span ng-if="installmentsGraphData.length < 6 || ($index % 2 == 0)">{{(plan.total-plan.downpay)/plan.times | currency}}</span></div> -->
    </div>
    <br>
</div>

<button ng-disabled="!plan.total" type="button" class="btn btn-block btn-primary" ng-click="previewSinglePlan(plan)">Preview</button>
